Connected Services/ServiceReference2/serviceblaclass.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="nu">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="num" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="nuResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nuResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="nuSoapIn">
    <wsdl:part name="parameters" element="tns:nu" />
  </wsdl:message>
  <wsdl:message name="nuSoapOut">
    <wsdl:part name="parameters" element="tns:nuResponse" />
  </wsdl:message>
  <wsdl:portType name="serviceblaclassSoap">
    <wsdl:operation name="nu">
      <wsdl:input message="tns:nuSoapIn" />
      <wsdl:output message="tns:nuSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="serviceblaclassSoap" type="tns:serviceblaclassSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="nu">
      <soap:operation soapAction="http://tempuri.org/nu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="serviceblaclassSoap12" type="tns:serviceblaclassSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="nu">
      <soap12:operation soapAction="http://tempuri.org/nu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="serviceblaclass">
    <wsdl:port name="serviceblaclassSoap" binding="tns:serviceblaclassSoap">
      <soap:address location="http://localhost:63201/serviceblaclass.asmx" />
    </wsdl:port>
    <wsdl:port name="serviceblaclassSoap12" binding="tns:serviceblaclassSoap12">
      <soap12:address location="http://localhost:63201/serviceblaclass.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>